<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <script src="https://cdn.jsdelivr.net/npm/sockjs-client@1.5.1/dist/sockjs.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat Application</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
          integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css"
          href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}">
</head>
<body>
<h1>Chat Application</h1>
<div class="chat-container">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12">
                <div id="user_chat_data" class="user_chat_data">
                    <div class="profile_name">
                        &nbsp;&nbsp;&nbsp;&nbsp;<img th:src="@{/img/profile.png}" class="mr-3 rounded-circle" alt="">
                        상대방 닉네임
                    </div>

                    <div class="container-fluid chat_section" id="chat-box">

                        <!-- 받은메시지 시작 -->
                        <div class="incoming_msg">
                            <div class="received_msg">
                                <div class="received_width_msg">
                                    <p id="received_chat">받은 내용</p>
                                    <span class="time_date"> 11:18 | Today</span>
                                </div>
                            </div>
                        </div>
                        <!-- 받은메시지 끝 -->

                        <!-- 보낸메시지 시작 -->
                        <div class="outgoing_msg">
                            <div class="sent_msg">
                                <p>보낸 내용</p>
                                <span class="time_date"> 11:18 | Today</span>
                            </div>
                        </div>
                        <!-- 보낸메시지 끝 -->
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="input-container">
        <input type="text" id="message" placeholder="Type a message..."/>
        <input type="button" id="send-button" value="send"/>
    </div>
</div>


<script th:inline="javascript">
    /*<![CDATA[*/
    var userNm = /*[[${session.userNm}]]*/ 'defaultUser';
    sessionStorage.setItem('userNm', userNm);
    sessionStorage.setItem('sender', userNm);
    /*]]>*/
</script>
<script th:src="@{/js/chat.js}"></script>
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
        integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js"
        integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy"
        crossorigin="anonymous"></script>
</body>
</html>