<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.chat.twouserwebsocket.repository.UserDAO">

    <insert id="addUser" parameterType="UserDTO">
        INSERT INTO
        USER(
            USER_ID,
            USER_NM,
            USER_PW,
            CREATED_AT
        )
        VALUES (
                #{userId},
                #{userNm},
                #{userPw},
                NOW()
               )
    </insert>

    <select id="login" parameterType="UserDTO" resultType="UserDTO">
        SELECT *
        FROM USER
        WHERE USER_NM = #{userNm}
    </select>

</mapper>